:root {
  --primary: rgb(154, 59, 59);
  --secondary: rgb(192, 130, 97);
  --ternary: rgb(226, 199, 153);
  --quadruary: rgb(242, 236, 190);
}

body {
  height: 100vh;
  text-align: center;
  background-color: var(--ternary);
  font-family: "Press Start 2P", cursive;
  font-size: 20;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clock-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

#clock-settings {
  display: flex;
  gap: 30px;
}

#break-settings,
#session-settings,
#clock-btns {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 20px;
}

#clock-btns {
  margin: 20px auto;
}

#break-btns,
#session-btns {
  display: flex;
  justify-content: center;
  gap: 60px;
}

#break-increment,
#break-decrement,
#session-decrement,
#session-increment {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: center;
  width: 50px;
  height: 50px;
  background-color: var(--primary);
  color: var(--ternary);
}

#session-length,
#break-length {
  font-size: 30px;
  color: var(--primary);
}

#start_stop,
#reset {
  cursor: pointer;
}

#start_stop:hover,
#reset:hover {
  color: var(--primary);
}
